/* *{
    margin:0;
    padding:0;
}

body{
    font:15px/1.3 'Open Sans', sans-serif;
    color: #5e5b64;
    text-align:center;
}

a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside, nav{
    display: block;
}



nav{
    display:inline-block;
    margin: 60px auto 45px;
    background-color:#5597b4;
    box-shadow:0 1px 1px #ccc;
    border-radius:2px;
    width: 100%;
}

nav a{
    display:inline-block;
    padding: 18px 30px;
    color:#fff !important;
    font-weight:bold;
    font-size:16px;
    text-decoration:none;
    line-height:1;
    text-transform: uppercase;
    background-color:transparent;

    -webkit-transition:background-color 0.25s;
    -moz-transition:background-color 0.25s;
    transition:background-color 0.25s;
}

nav a:first-child{
    border-radius:2px 0 0 2px;
}

nav a:last-child{
    border-radius:0 2px 2px 0;
}

nav.home .home,
nav.projects .projects,
nav.services .services,
nav.contact .contact{
    background-color:#e35885;
}

p{
    font-size:22px;
    font-weight:bold;
    color:#7d9098;
}

p b{
    color:#ffffff;
    display:inline-block;
    padding:5px 10px;
    background-color:#c4d7e0;
    border-radius:2px;
    text-transform:uppercase;
    font-size:18px;
} */

/* movie.component.css */

body {
    font: 15px/1.3 'Open Sans', sans-serif;
    color: #5e5b64;
    text-align: center;
    margin: 0;
    padding: 0;
    
  }
  /* a {
  font-size: 0rem !important; 
} */
  a, a:visited {
    outline: none;
    color: #389dc1;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  section, footer, header, aside, nav {
    display: block;
  }
  
  /* Navbar Styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0c0c;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
  }
  
  nav a {
    display: inline-block;
    /* padding: 15px 20px; */
    color: #f7f7f7 !important;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    line-height: 3;
    /* text-transform: uppercase; */
    background-color: transparent;
    transition: background-color 0.25s;
    margin-left: 2rem;
  }
  
  nav a:first-child {
    border-radius: 2px 0 0 2px;
  }
  
  nav a:last-child {
    border-radius: 0 2px 2px 0;
  }
  
  nav.home .home,
  nav.projects .projects,
  nav.services .services,
  nav.contact .contact {
    background-color: #e35885;
  }
  
  /* User Menu Styles */
  .user-menu {
    display: flex;
    align-items: center;
  }
  
  .user-menu .profile-link {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    /* text-transform: uppercase; */
    transition: background-color 0.25s;
    cursor: pointer;
    margin-right: 8rem; /* Adjust this value as needed */
  }
  
  .user-menu .profile-link:hover {
    background-color: #555;
  }
  
  .sub-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .user-menu:hover .sub-menu {
    display: flex;
    flex-direction: column;
  }
  
  .sub-menu a {
    padding: 1rem 0rem;
    color: #d62424 !important;
    text-decoration: none;
    transition: background-color 0.25s;
    text-transform: lowercase !important;
    font-size: 1rem;
  width: 100%;
  }
  .sub-menu a:hover {
    background-color: #1a95bb;
  }
  
  
  /* Movie List Styles */
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0b0c0c;
    /* padding: 20px; */
  }
  
  /* Movie Item Styles */
  .movie-item {
    border: 1px solid #389dc1;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:rgb(26, 26, 26);
  }
  
  /* Movie Title Styles */
  .movie-title {
    font-size: 12px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
      text-transform: uppercase;
      text-align: center;
  
  }
  .movie-title:hover{
    text-decoration: none;
    color: #389dc1;
  
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  
  } 
  
  /* Movie Poster Styles */
  .movie-poster {
    width: 81%;
    border-radius: 8px;
    margin-left: 1.2rem;
    margin-top: 0.4rem;
    /* margin-bottom: 10px; */
  }
  .movie-poster:hover  {
    color: #ddcece;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
  
  }
  
  .fa-solid{
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
  }
  .user-menu .profile-link {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    /* text-transform: uppercase; */
    transition: background-color 0.25s;
    cursor: pointer;
    margin-right: 8rem; /* Adjust this value as needed */
  }
  
  .user-menu .profile-link:hover {
    background-color: #555;
  }
  